@import "tailwindcss";

@theme {
  --color-surface-container-highest: #34343d;
  --color-secondary: #c1c1ff;
  --color-on-tertiary: #512300;
  --color-surface-tint: #c1c1ff;
  --color-outline-variant: #464555;
  --color-on-secondary: #282a63;
  --color-on-surface: #e4e1ed;
  --color-primary: #c1c1ff;
  --color-tertiary-fixed-dim: #ffb689;
  --color-error-container: #93000a;
  --color-primary-fixed: #e1e0ff;
  --color-tertiary: #ffb689;
  --color-primary-container: #5d5fef;
  --color-surface-variant: #34343d;
  --color-tertiary-dim: #ff6c95;
  --color-on-primary-fixed-variant: #2e2bc2;
  --color-on-primary: #1200a9;
  --color-surface-container-lowest: #0d0d16;
  --color-secondary-fixed-dim: #c1c1ff;
  --color-on-surface-variant: #c7c4d7;
  --color-on-tertiary-container: #fff6f3;
  --color-on-secondary-fixed-variant: #3f417b;
  --color-on-error-container: #ffdad6;
  --color-inverse-primary: #4849da;
  --color-tertiary-fixed: #ffdbc8;
  --color-surface-container-low: #1b1b23;
  --color-tertiary-container: #b65700;
  --color-on-background: #e4e1ed;
  --color-secondary-container: #42437e;
  --color-on-error: #690005;
  --color-secondary-dim: #33e9d5;
  --color-surface-container: #1f1f27;
  --color-surface-bright: #393842;
  --color-on-secondary-container: #b2b3f5;
  --color-secondary-fixed: #e1e0ff;
  --color-primary-dim: #ba85fb;
  --color-surface-container-high: #292932;
  --color-inverse-surface: #e4e1ed;
  --color-on-primary-fixed: #07006c;
  --color-on-tertiary-fixed: #321300;
  --color-outline: #908fa0;
  --color-inverse-on-surface: #302f39;
  --color-on-secondary-fixed: #12134d;
  --color-on-primary-container: #faf7ff;
  --color-error: #ffb4ab;
  --color-surface-dim: #13131b;
  --color-on-tertiary-fixed-variant: #743500;
  --color-error-dim: #d73357;
  --color-primary-fixed-dim: #c1c1ff;
  --color-surface: #13131b;
  --color-background: #13131b;

  --font-headline: var(--font-newsreader), serif;
  --font-body: var(--font-manrope), sans-serif;
  --font-label: var(--font-manrope), sans-serif;
  --font-display: var(--font-newsreader), serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
